<div class="heading">
    <h1>All Tags</h1>    
</div>

<div class="mainSection">
    <ul>
    <% @tags.each do |tag| %>
    <li>
        <%= link_to tag.name, tag_path(tag) %>
        <button style="background: #ff5c5c; float: right;"><%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %> <%= tag.name%></button>
    </li>
    <% end %>
</ul>
<button style="background: #60656F;"><%= link_to "Back to Articles", articles_path%></button>    
</div>
