/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 
 body{
     margin: 0;
     padding: 0;
    font-family: Arial;  
    background: url('https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
 }
 
 #navBar{
     position: fixed;
     top: 0px;
     width: 100%;
     background: #2A5775;
     height: 50px;
 }
 #navBar h6{
     position: absolute;
     right: 10px;
     top: -5px;
     color: #fafafa;
 }
 #navBar a{
     color: #fafafa;
 }

.mainContain{
    width: 60%;
    min-width: 350px;
    max-width: 900px;
    margin: 100px auto;
    box-shadow: 0px 5px 20px gray;
    border-radius: 10px;
    background: #FAFAFA;
}

.heading{
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background: #2A5775;
}

.mainSection{
    padding: 20px;
    background: #F7F7FF;
}

.mainSection a:hover{
    font-weight: bold;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #F7F7FF;
    font-siZE: 40px;
    letter-spacing: 2px;
}

ul{
list-style-type: none;
}

li{
    margin: 10px;
    margin-left: -40px;
}

a{
    text-decoration: none;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}


button{
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    background: #696D7D;
}
button a{
    color: white;
}


.new-article{
    display: block;
}

.flash{
    color: white;
    text-align: center;
    margin: 70px auto;
    margin-bottom: 0px;
    width: 300px;
}

.gem{
    position: absolute; left: 130px; top: -5px; color: #fafafa; font-size: 20px;
}

.submit{
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    background: #2A5775;
    color: #fafafa;
}

.form{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background: 	#f9f9f9;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
}
.form-body{
    max-width: 100%;
    max-height: 200px;
    min-width: 200px;
    min-height: 100px;
}

.form:focus{
    outline: none;
    border: 3px solid #428bca;
    box-shadow: none;
}

.image{
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 550px){
    h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 800px) and (min-width: 550px){
    h1{
        font-size: 30px;
    }
}